body {
  background-color: #EAF6F6;
}
h1{
  color: #66BFBF;
}
h2{
  color:#66BFBF;
}
h3{
  color:#66BFBF;

}
h4{color:#66BFBF;
}
h5{color:#66BFBF;
}
h6{color:#66BFBF;}
hr {
  /* background-color: white; */
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
    /* height: 0px; */
  border-width: 5px;
  width: 10%;

}
